<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elm.dao.OrderDao">
	
	<select id="findShopFillMinusByshopId" resultType="ShopFillMinus" parameterType="int">
		select * from t_shopfullminus where shopId = #{shopId}
	</select>
	
	<insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
		insert into t_order values(null,#{shopId},#{userId},#{addressId},#{creatTime},#{payMethod},#{deliveryMethod},#{deliveryTime},#{selectDeliveryTime},#{remark},#{redPacketId},#{payPrice},#{companyName},#{code})
	</insert>
	
	<insert id="insertOrderProduct" parameterType="OrderProduct">
		insert into t_orderproduct values(null,#{foodId},#{name},#{num},#{foodType},#{price},#{orderId})
	</insert>
	
	<update id="updateHongbaoStateById">
		update t_hongbao set hongbaoState = #{1} where id = #{0}
	</update>
	
</mapper>